#battery {
  position:relative;
  width: 36px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 2px;
  padding: 1px;

  margin: 16px 8px;
}

#battery #battery_level{
    width: 0%;
    height: 100%;
    background: #000;
    border-radius: 1px;
}
