{% extends "base.html"%}
{% block body %}
<script type="text/javascript" src="js/browse.js"></script>

<h2>Browse</h2>

<div id="browse-header"><i class="browse-header-entry fas fa-chevron-right">Root</i></div>
<table id="browse" class="transistor-table">
    <thead>
        <tr>
            <th class="browse-type"></th>
            <th>Name</th>
            <th class="browse-type"></th>
        </tr>
    </thead>
        <tbody>
        </tbody>
</table> 


{% end %}